p {
    text-align: center;
    font-size: 150%;
}

table p {
    font-size: 100%;
}

table {
    margin: 0px auto;
    max-width: 60%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

h1,
h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: #2b7ebF;
}

a:hover {
    color: #060029;
    font-size: 1.2em;
}

nav {
    text-align: center;
    margin: 20px;
}

.topBtn {
    margin: 20px auto;
    text-align: center;
    background-color: #ccf;
    width: 150px;
    padding: 10px;
    border-radius: 25px;
    font-size: 1.2em;
}

footer {
    text-align: center;
}

hr {
    width: 80%;
}

.text-center {
    text-align: center;
}

button {
    margin-top: 5px;
}

.link {
 width: 12.5%;
}

.summary {
    width: 67.5%;
}

.demo {
    width: 20%;
}

.email-demo {
    font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        margin: 0 auto;
        border: 3px solid blue;
        padding: 0 2em 1em;
}

.email-demo-heading {
    color: blue;
}

.email-demo-label {
    float: left;
    text-align: right;
}

.email-demo-input {
    margin-bottom:.5em;
}

.email-demo-span {
    color: red;
}